<tr>
    <td>{{ 'payment.ratepay.bank_account' | trans }}:</td>
    <td>
        <div>{{ 'payment.ratepay.bank_account.holder' | trans }} - {{ ratepayPaymentTransfer.bankAccountHolder }}</div>
        <div>{{ 'payment.ratepay.bank_account.iban' | trans }} - {{ ratepayPaymentTransfer.bankAccountIban }}</div>
        <div>{{ 'payment.ratepay.bank_account.bic' | trans }} - {{ ratepayPaymentTransfer.bankAccountBic }}</div>
    </td>
</tr>
