<tr>
    <td>{{ 'summary.ratepay.installment.plan_details' | trans }}:</td>
    <td>
        <div>{{ 'summary.ratepay.installment.type' | trans }} - {{ ratepayPaymentTransfer.installmentCalculationType }}</div>
        <div>{{ 'summary.ratepay.installment.rates_number' | trans }} - {{ ratepayPaymentTransfer.installmentNumberRates|number_format }}</div>
        <hr/>
        <div>{{ 'summary.ratepay.installment.amount_per_month' | trans }} - {{ ratepayPaymentTransfer.installmentRate|money }}</div>
        <div>{{ 'summary.ratepay.installment.last_month_amount' | trans }} - {{ ratepayPaymentTransfer.installmentLastRate|money }}</div>
        <div>{{ 'summary.ratepay.installment.annual_percentage_rate' | trans }} - {{ ratepayPaymentTransfer.installmentAnnualPercentageRate|number_format(2, ',') }} &#37;</div>
        <hr/>
        <div>{{ 'summary.ratepay.installment.service_charge' | trans }} - {{ ratepayPaymentTransfer.installmentServiceCharge|money }}</div>
        <div>{{ 'summary.ratepay.installment.interest_amount' | trans }}- {{ ratepayPaymentTransfer.installmentInterestAmount|money }}</div>
        <hr/>
        <div>{{ 'summary.ratepay.installment.order_grand_total' | trans }} - {{ quoteTransfer.getTotals.getGrandTotal|money }}</div>
        <div>{{ 'summary.ratepay.installment.plan_grand_total' | trans }}  - {{ ratepayPaymentTransfer.installmentGrandTotalAmount|money }}</div>
    </td>
</tr>
